name: Build and Upload STLs

on:
  release:
    types: [published]  # ou 'created' si tu veux aussi sur draft
  
  workflow_dispatch:  # optionnel : workflow_dispatch pour lancer manuellement

jobs:
  build:
    runs-on: ubuntu-latest
    # ou container: debian:bookworm — ça marche aussi

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: List files (debug)
        run: |
          ls -la
          find . -name "*.py" | head -10        

      - name: List files (debug temporaire)
        run: ls -la

      - name: Install OpenSCAD (AppImage)
        run: |
          wget -O openscad.AppImage https://files.openscad.org/OpenSCAD-2021.01-x86_64.AppImage
          chmod +x openscad.AppImage
          sudo mv openscad.AppImage /usr/local/bin/openscad
          sudo apt update && sudo apt install -y libgl1

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Generate STL Files
        run: python3 generate_parts.py main   # ← doit exister à la racine !